@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-family: 'Abril Fatface', cursive;
    }
    h2 {
        font-family: 'Roboto', sans-serif;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
    }

    p {
        font-family: 'Roboto', sans-serif;
    }

}
