@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-family: 'Abril Fatface', cursive;
    }
    h2,
    button {
        font-family: 'Volkhov', serif;
    }

    h3 {
        font-family: 'Volkhov', serif;
    }

    p,
    li {
        font-family: 'Roboto', sans-serif;
    }

}
